# ###########################################
# .gitignore
#############################################
.env*.local
node_modules

# data generated
/dist
/data
/src/contracts.ts
/oracle/**/*.gz

#############################################
package.json
pnpm-lock.yaml