@font-face {
  font-family: 'Rank9h';
  src: url('/Rank\ 9h.ttf');
}

/* :root {
  --vp-font-family-base: Rank9h;
  --vp-font-family-mono: Rank9h;
} */

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

:root {
  --vp-c-stratagems-1: #6EBD68;
  --vp-c-stratagems-2: #073D03;
  --vp-c-stratagems-3: #2C7D25;
  --vp-c-stratagems-soft: rgba(162, 28, 175, 0.14);
}

:root {  
  --vp-c-brand-1: var(--vp-c-stratagems-1);
  --vp-c-brand-2: var(--vp-c-stratagems-2);
  --vp-c-brand-3: var(--vp-c-stratagems-3);
  --vp-c-brand-soft: var(--vp-c-stratagems-soft);
}

:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}

.dark {
  --vp-c-bg: #240417;
  --vp-c-bg-alt: #1f0314;
  --vp-c-bg-elv: #1f0314;
  --vp-c-bg-soft: #3e0326;
}


.clip {
  font-family: Rank9h;
}
/*
.text {
  font-family: Rank9h;
} */

  /* Custom Stlye */
.custom-layout {
  font: var(--vp-font-family-base);
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  /* min-height: 400px; */
  max-width: 1152px;
  margin: 3rem auto;
  border-radius: 10px;
}

.custom-layout h1 {
  margin: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

@keyframes fade-in {
  from { opacity: 0 }
}

@keyframes fade-out {
  to { opacity: 0 }
}

@keyframes slide-in {
  from { transform: translateY(var(--_travel-distance, 10px)) }
}

.topbar {
  position:fixed;
  top: 10px;
  display: block;
  z-index: 99999;
  box-sizing: border-box;
  width: 90%;
  padding: 10px;
  text-align: center;
  transition: top 1s;

  border-style: solid;;border-width: 3px 0 0 0; border-radius: 0em 0em 5px 5px;
}

#email {
  font-size: 1rem;
  margin: 1rem 3rem 3rem 3rem;
  border-radius: 1rem;
  padding: 0.8rem;
  background-color: rgb(220, 220, 220);
}

:root.dark #email {
  background-color: rgb(22, 22, 24);
}

#call-to-action {
  font-size: 1.5rem;
  margin: 2rem;
}


.custom-layout .btn {
  border: 1px solid transparent;
  background-color: var(--vp-button-brand-bg);
  color: var(--vp-button-brand-text);
  border-color: var(--vp-button-brand-border);
  border-radius: 1em;
  padding: 0.5rem 1.4rem;
  font-size: 1.2rem;
}

 .custom-layout .btn:hover {
  border-color: var(--vp-button-brand-hover-border);
  color: var(--vp-button-brand-hover-text);
  background-color: var(--vp-button-brand-hover-bg);
}

.custom-layout .btn:active {
  border-color: var(--vp-button-brand-active-border);
  color: var(--vp-button-brand-active-text);
  background-color: var(--vp-button-brand-active-bg);
}
