:root {
  --vp-c-brand-darker: #86198f;
  --vp-c-brand-dark: #a21caf;
  --vp-c-brand: #c026d3;
  --vp-c-brand-light: #d946ef;
  --vp-c-brand-lighter: #e879f9;
  --vp-c-brand-lightest: #f5d0fe;

  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

  /* Custom Stlye */
.custom-layout {
  font: var(--vp-font-family-base);
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  /* min-height: 400px; */
  max-width: 1152px;
  margin: 3rem auto;
  border-radius: 10px;
}

.custom-layout h1 {
  margin: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

.gui-toast-group {
  position: fixed;
  z-index: 1;
  inset-block-end: 0;
  inset-inline: 0;
  padding-block-end: 5vh;
}

.gui-toast-group {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;
}

.gui-toast {
  max-inline-size: min(25ch, 90vw);
  padding-block: .5ch;
  padding-inline: 1ch;
  border-radius: 3px;
  font-size: 1rem;
}

.gui-toast-group {
  pointer-events: none;
}

.gui-toast {
  --_bg-lightness: 90%;

  color: black;
  background: hsl(0 0% var(--_bg-lightness) / 90%);
}

:root.dark .gui-toast {
    color: white;
    --_bg-lightness: 20%;
}

@keyframes fade-in {
  from { opacity: 0 }
}

@keyframes fade-out {
  to { opacity: 0 }
}

@keyframes slide-in {
  from { transform: translateY(var(--_travel-distance, 10px)) }
}

.gui-toast {
  --_duration: 3s;
  --_travel-distance: 0;

  will-change: transform;
  animation: 
    fade-in .3s ease,
    slide-in .3s ease,
    fade-out .3s ease var(--_duration);
}

@media (prefers-reduced-motion: no-preference) {
  .gui-toast {
    --_travel-distance: 5vh;
  }
}

#email {
  font-size: 1rem;
  margin: 1rem 3rem 3rem 3rem;
  border-radius: 1rem;
  padding: 0.8rem;
  background-color: rgb(220, 220, 220);
}

:root.dark #email {
  background-color: rgb(22, 22, 24);
}

#call-to-action {
  font-size: 1.5rem;
  margin: 2rem;
}


.custom-layout .btn {
  border: 1px solid transparent;
  background-color: var(--vp-button-brand-bg);
  color: var(--vp-button-brand-text);
  border-color: var(--vp-button-brand-border);
  border-radius: 1em;
  padding: 0.5rem 1.4rem;
  font-size: 1.2rem;
}

 .custom-layout .btn:hover {
  border-color: var(--vp-button-brand-hover-border);
  color: var(--vp-button-brand-hover-text);
  background-color: var(--vp-button-brand-hover-bg);
}

.custom-layout .btn:active {
  border-color: var(--vp-button-brand-active-border);
  color: var(--vp-button-brand-active-text);
  background-color: var(--vp-button-brand-active-bg);
}
